@using Microsoft.AspNetCore.Identity
@using ElectricTransportBlog.Core.Constants
@using ElectricTransportBlog.Core.Models.Users
@using ElectricTransportBlog.Infrastructure.Data.Models

@inject SignInManager<WebsiteUser> SignInManager
@inject UserManager<WebsiteUser> UserManager
@model UserDetailsModel

@{
    ViewBag.Title = $"Профилът на {Model.Username}";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <h3 class="profile-username text-center">@Model.Username</h3>
                        <p class="text-muted text-center">@(Model.Role == null ? "Потребител" : Model.Role)</p>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Брой публикации:</b> <a class="float-right">@Model.Publications.Count</a>
                            </li>
                            <li class="list-group-item">
                                <b>Брой коментари към публикации:</b> <a class="float-right">@Model.PublicationComments.Count</a>
                            </li>
                        </ul>
                    </div>
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Имейл на потребителя</h3>
                        </div>
                        <div class="card-body">
                            <strong><i class="far fa-file-alt mr-1"></i>@Model.Email</strong>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Имейл на потребителя</h3>
                        </div>
                        <div class="card-body text-center">
                            <strong>За да видите имейла трябва да <a asp-area="Identity" asp-page="/Account/Login">влезте</a> в профила си или да се <a asp-area="Identity" asp-page="/Account/Register">регистрирате</a>.</strong>
                        </div>
                    </div>
                }
            </div>

            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            @if (@Model.Username == User.Identity.Name)
                            {
                                
                            }
                            <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Профил</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active text-center" id="timeline">
                                @if (this.User.Identity.Name == Model.Username)
                                {
                                    <h3>Добре дошли във Вашият профил!</h3>
                                }
                                else
                                {
                                    <h3>Добре дошли в профила на @Model.Username!</h3>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>